/* src/components/Footer.css */
.footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .footer-item {
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-item a{
    color: #805bcf;
  }
  
  .footer-item:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    font-size: 14px;
    color: #666;
  }
  