
/*****header-start-here*********/
.container {
  width: 1720px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 50px !important;
  box-sizing: border-box;
}
.header-right div#demo-simple-select {text-align: left;display: flex;align-items: center;}
.header {
  background: #000;
  width: 100%;
  padding: 10px 0px;
}


.header .header-row {
  display: flex;
  justify-content: space-between;
}

.header .header-left {
  display: flex;
  width: 50%;
  column-gap: 200px;
}
.header .header-left .nav-links {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding: 0;
  margin: 0;
}

.header .header-left .nav-links li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  list-style: none;
}




.header-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  column-gap: 40px;
  align-items: center;
}

.header-right .help-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  list-style: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  height: fit-content;
}

 .header-right div#demo-simple-select {
  background: #BDE0F7;
  border-radius: 7px;
  padding: 0px 20px;
  width: 250px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #8F8F8F;
}  