.credential-details{
    display:none;
}
.first-main-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Icon-back {
    text-align: left;
}

.main-button {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 7px;
    color: #fff;
    background: #805BCF;cursor: pointer;
}

.Danger.main-button {
    background: #fff;
    color: red;
    border-color: red;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.container.first-section {
    padding-top: 60px;
}

.page-wrapper {
    padding-top: 60px;
}

h4.heading {
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: normal;
}

h4.heading {
    margin-left: 10px;
    margin-top: 0;
}
.publish-banner p {
    margin: 0;
    text-align: left;
    background: #805bcf52;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #805bcf;
}

.publish-banner p span svg {
    margin-right: 10px;
    fill: #fff;
}

.publish-banner p span svg path {
    fill: #805bcf;
}

.publish-banner {
    margin-bottom: 30px;
}

.row-main-information {
    display: flex;
    gap: 34px;
    padding-bottom: 60px;
}

.update-column {
    width: 40%;
}

.View-column {
    width: 60%;
    background: #805bcf52;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #805bcf;
}

.update-column input {
    box-sizing: border-box;
}

.warpper-two-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.update-column form {
    text-align: left;
}

.update-column .form-group label {
    margin-bottom: 8px;
}

.row-main-information button {
    background: #805bcf;
    border: 1px solid #805bcf;
    cursor: pointer;
    padding: 8px 29px;
    font-size: 16px;
    line-height: normal;
    border-radius: 7px;
    color: #fff;
}
span.approvaltext {
    font-weight: 700;
}